body{
    /*background-color: darkgrey;*/
  background-image: url('https://damion.club/uploads/posts/2022-01/1641965014_73-damion-club-p-cherno-belie-foni-s-gorodami-76.jpg'); background-size:cover; height:100vh;

}
.table-container {
    display: flex; justify-content: flex-start; align-items: flex-start;
}
.mylable{
    width: 200px;
}
