<!DOCTYPE html>
<html lang="en">
<head>
    <title>chummery_student</title>
    <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}">
    <link th:rel="stylesheet" type="text/css" th:href="style.css">
  </head>
  <body>
  <table class="table table-striped">
    <thead class="table-dark">
    <tr>
      <th>name resident</th>
      <th>faculty</th>
      <th>group</th>
      <th>year</th>
      <th>room number</th>
      <th>date settelment</th>
      <th>date eviction</th>
      <th>preferential category</th>
      <th>budget/contract</th>
      <th>residence status</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student : ${students}">
      <td th:text="${student.nameResident}"></td>
      <td th:text="${student.nameFaculty}"></td>
      <td th:text="${student.group}"></td>
      <td th:text="${student.year}"></td>
      <td th:text="${student.room.roomNumber}"></td>
      <td th:text="${student.dateSettlement}"></td>
      <td th:text="${student.dateEviction}"></td>
      <td th:text="${student.preferentialCategory}"></td>
      <td th:text="${student.budgetContract}"></td>
      <td th:text="${student.residenceStatus}"></td>
    </tr>
    </tbody>
  </table>
  </body>
  </html>

  <script th:src ="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
</body>
</html>