<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>enterRoom</title>
    <link th:rel="stylesheet"type="text/css" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}">
    <link th:rel ="stylesheet"type="text/css" th:href="style.css">
</head>
<body>
<div class="mycontainer">
    <ul class="list-unstyled text-center">
        <form action="addRoom" method="post" id="roomForm">
            <label class ="mylable" for="roomNumber">room number:</label>
            <input type="text" name="roomNumber" id="roomNumber" placeholder="room number"><br>
            <label class ="mylable" for="freeBusy">free/busy:</label>
            <input type="text" name="freeBusy" id="freeBusy" placeholder="free/busy"><br>
            <label class ="mylable" for="roomType">room type:</label>
            <input type="text" name="roomType" id="roomType" placeholder="room type"><br>
            <label class ="mylable" for="costAccommodation">cost accommodation:</label>
            <input type="text" name="costAccommodation" id="costAccommodation" placeholder="cost accommodation"><br>
            <input type="submit" class="btn btn-outline-dark" value="add room" >
        </form>
    </ul>
</div>
<div class="modal fade" id="roomErrorModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticWarningLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticWarningLabel">Error</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Please fill in all the fields.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:src ="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
<script>
    // JavaScript to trigger the modal when the form is submitted
    $(document).ready(function() {
        $('#roomForm').submit(function(room) {
            // Prevent the default form submission
            room.preventDefault();

            // Check if any of the form fields are empty
            var roomNumber = $('#roomNumber').val().trim();
            var freeBusy = $('#freeBusy').val().trim();
            var roomType = $('#roomType').val().trim();
            var costAccommodation = $('#costAccommodation').val().trim();

            if (roomNumber === '' || freeBusy === '' || roomType  === '' || costAccommodation === '') {
                // If any of the fields are empty, show the modal
                $('#roomErrorModal').modal('show');
            } else {
                // If all fields are filled, submit the form
                $(this).unbind('submit').submit();
            }
        });
    });
</script>
</body>
</html>