<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>enterChummery</title>
    <link th:rel="stylesheet"type="text/css" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}">
    <link th:rel ="stylesheet"type="text/css" th:href="style.css">
</head>
<body>
<div class="mycontainer">
    <ul class="list-unstyled text-center">
<form action="addChummery" method="post" id="chummeryForm">
    <label class ="mylable" for="address">address:</label>
    <input type="text" name="address" id="address" placeholder="address"><br>
    <label class ="mylable" for="hostelNumber">hostel number:</label>
    <input type="text" name="hostelNumber" id="hostelNumber" placeholder="hostel number"><br>
    <label class ="mylable" for="totalNumberPlace">number place:</label>
    <input type="text" name="totalNumberPlace" id="totalNumberPlace" placeholder="number place"><br>
    <label class ="mylable" for="numberFreePBoys">boys rooms numbers:</label>
    <input type="text" name="numberFreePBoys" id="numberFreePBoys" placeholder="boys room numbers"><br>
    <label class ="mylable" for="numberFreePGirls">girls rooms numbers:</label>
    <input type="text" name="numberFreePGirls" id="numberFreePGirls" placeholder="girls room numbers"><br>
    <label class ="mylable" for="phoneNumber">phone number:</label>
    <input type="text" name="phoneNumber" id="phoneNumber" placeholder="phone number"><br>
    <input type="submit" class="btn btn-outline-dark" value="Add Chummery">
</form>
    </ul>
</div>
<div class="modal fade" id="chummeryErrorModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticWarningLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticWarningLabel">Error</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Please fill in all the fields.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
<script>
    // JavaScript to trigger the modal when the form is submitted
    $(document).ready(function() {
        $('#chummeryForm').submit(function(chummery) {
            // Prevent the default form submission
            chummery.preventDefault();

            // Check if any of the form fields are empty
            var address = $('#address').val().trim();
            var hostelNumber = $('#hostelNumber').val().trim();
            var totalNumberPlace = $('#totalNumberPlace').val().trim();
            var numberFreePBoys = $('#numberFreePBoys').val().trim();
            var numberFreePGirls = $('#numberFreePGirls').val().trim();
            var phoneNumber = $('#phoneNumber').val().trim();

            if (address === '' || hostelNumber === '' || totalNumberPlace === '' || numberFreePBoys === '' || numberFreePGirls === ''
                || phoneNumber === ''){
                // If any of the fields are empty, show the modal
                $('#chummeryErrorModal').modal('show');
            } else {
                // If all fields are filled, submit the form
                $(this).unbind('submit').submit();
            }
        });
    });
</script>
</body>
</html>