<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>enterEvent</title>
    <link th:rel="stylesheet"type="text/css" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}">
    <link th:rel ="stylesheet"type="text/css" th:href="style.css"></head>
<body>
<div class="mycontainer">
    <ul class="list-unstyled text-center">
        <form action="addEvent" method="post">
            <label class ="mylable" for="nameEvent">name event:</label>
            <input type="text" name="nameEvent" id="nameEvent" placeholder="name event"><br>
            <label class ="mylable" for="eventDate">event date:</label>
            <input type="Date" name="eventDate" id="eventDate" placeholder="event date"><br>
            <label class ="mylable" for="eventStartTime">event start time:</label>
            <input type="text" name="eventStartTime" id="eventStartTime" placeholder="event start time"><br>
            <label class ="mylable" for="estimatesEndTime">estimates end time:</label>
            <input type="text" name="estimatesEndTime" id="estimatesEndTime" placeholder="estimates end time"><br>
            <label class ="mylable" for="venue">venue:</label>
            <input type="text" name="venue" id="venue" placeholder="venue"><br>
            <input type="submit" class="btn btn-outline-dark" value="add event" >
        </form>
    </ul>
</div>
<script th:src ="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
</body>
</html>