<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Payment</title>
    <link th:rel="stylesheet"type="text/css" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}">
    <link th:rel ="stylesheet"type="text/css" th:href="style.css">
</head>
<body>
<div class="mycontainer">
    <ul class="list-unstyled text-center">
<form action="addPayment" method="post">
<label class ="mylable" for="lastPaymentDate"> last payment date:</label>
<input type="date" name="lastPaymentDate" id="lastPaymentDate" placeholder="date of the last payment"><br>
<label class ="mylable" for="fixPaymentDate">fixed date:</label>
<input type="date" name="fixPaymentDate" id="fixPaymentDate" placeholder="fixed date"><br>
<label class ="mylable" for="amountOfLastPayment">last payment amount:</label>
<input type="text" name="amountOfLastPayment" id="amountOfLastPayment" placeholder="last payment amount"><br>
<label class ="mylable" for="totalAmount">total amount:</label>
<input type="text" name="totalAmount" id="totalAmount" placeholder="total amount"><br>
<label class ="mylable" for="fixedAmount">fixed amount:</label>
<input type="text" name="fixedAmount" id="fixedAmount" placeholder="fixed amount"><br>
    <label class="mylable" for="student_id">student id:</label>
    <input type="text" name="student_id" id="student_id" placeholder="student id"><br>
    <input type="submit" class="btn btn-outline-dark" value="add payment"><br>
</form>
    </ul>
</div>
<script th:src ="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
</body>
</html>