<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>enterStudent</title>
    <link th:rel="stylesheet"type="text/css" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}">
    <link th:rel ="stylesheet"type="text/css" th:href="style.css">
</head>
<body>
<div class="mycontainer">
    <div id="content">
    <ul class="list-unstyled text-center">
    <form action="addStudent" method="post">
    <label class ="mylable" for="nameResident">name resident:</label>
    <input type="text" name="nameResident" id="nameResident" placeholder="name resident"><br>
    <label class ="mylable" for="nameFaculty">faculty:</label>
    <input type="text" name="nameFaculty" id="nameFaculty" placeholder="faculty"><br>
    <label class ="mylable" for="group">group:</label>
    <input type="text" name="group" id="group" placeholder="group"><br>
    <label class ="mylable" for="year">year:</label>
    <input type="text" name="year" id="year" placeholder="year"><br>
    <label class ="mylable" for="roomNumber">room number:</label>
    <input type="text" name="roomNumber" id="roomNumber" placeholder="room number"><br>
    <label class ="mylable" for="dateSettlement">date settelment:</label>
    <input type="Date" name="dateSettlement" id="dateSettlement" placeholder="date settelment"><br>
    <label class ="mylable" for="dateEviction">date eviction:</label>
    <input type="Date" name="dateEviction" id="dateEviction" placeholder="date eviction"><br>
    <label class ="mylable" for="preferentialCategory"> preferential category:</label>
    <input type="text" name="preferentialCategory" id="preferentialCategory" placeholder="preferential category"><br>
    <label class ="mylable" for="budgetContract"> budget/contract:</label>
    <input type="text" name="budgetContract" id="budgetContract" placeholder="budget/contract"><br>
    <label class ="mylable" for="residenceStatus"> residence status:</label>
    <input type="text" name="residenceStatus" id="residenceStatus" placeholder="residence status:"><br>
    <input type="submit" class="btn btn-outline-dark" value="add student" >
</form>
    </ul>
    </div>
</div>
<script th:src ="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
</body>
</html>