<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>payment_service</title>
    <link th:rel="stylesheet"type="text/css" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}">
    <link th:rel ="stylesheet"type="text/css" th:href="style.css">
</head>
<body>
<div class="mycontainer">
    <ul class="list-unstyled text-center">
        <form action="addStudentPayment" method="post" id="paymentServiceForm">
            <input type="hidden" name="serviceId" th:value="${service.id}">
            <label class ="mylable" for="studentId">id student:</label>
            <input type="text" name="studentId" id="studentId" placeholder="id Student"><br>
            <label class ="mylable" for="paymentAmount">payment event</label>
            <input type="text" name="paymentAmount" id="paymentAmount" placeholder="paymentAmount"><br>
            <input type="submit" class="btn btn-outline-dark" value="Add Student" >
        </form>
    </ul>
</div>
<div class="modal fade" id="paymentAmountErrorModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticWarningLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticWarningLabel">Error</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Please fill in all the fields.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
<script>
    $(document).ready(function() {
        $('#paymentServiceForm').submit(function(paymentService) {
            paymentService.preventDefault();

            var studentId = $('#studentId').val().trim();
            var paymentAmount = $('#paymentAmount').val().trim();

            if (studentId === '' || paymentAmount === '' ){
                $('#paymentAmountErrorModal').modal('show');
            } else {
                $(this).unbind('submit').submit();
            }
        });
    });
</script>
</body>
</html>