<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>enterChummery</title>
    <link th:rel="stylesheet"type="text/css" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}">
    <link th:rel ="stylesheet"type="text/css" th:href="style.css">
</head>
<body>
<div class="container">
    <ul class="list-unstyled text-center">
<form action="addChummery" method="post">
    <label class ="mylable" for="address">Address:</label>
    <input type="text" name="address" id="address" placeholder="Address"><br>
    <label class ="mylable" for="chummeryNumber">Chummery number:</label>
    <input type="text" name="chummeryNumber" id="chummeryNumber" placeholder="Chummery number"><br>
    <label class ="mylable" for="quRooms">quantity rooms:</label>
    <input type="text" name="quRooms" id="quRooms" placeholder="quantity rooms"><br>
    <label class ="mylable" for="boysRNumbers">Boys rooms numbers:</label>
    <input type="text" name="boysRNumbers" id="boysRNumbers" placeholder="boys room numbers"><br>
    <label class ="mylable" for="girlsRNumbers">Girls rooms numbers:</label>
    <input type="text" name="girlsRNumbers" id="girlsRNumbers" placeholder="girls room numbers"><br>
    <label class ="mylable" for="phoneNumber">Phone number:</label>
    <input type="text" name="phoneNumber" id="phoneNumber" placeholder="phone number"><br>
    <input type="submit" class="btn btn-outline-dark" value="Add Chummery">
</form>
    </ul>
</div>
<script th:src ="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
</body>
</html>