<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>enterStudent</title>
    <link th:rel="stylesheet"type="text/css" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}">
    <link th:rel ="stylesheet"type="text/css" th:href="style.css">
</head>
<body>
<div class="container">
    <ul class="list-unstyled text-center">
<form action="addStudent" method="post">
    <label class ="mylable" for="fullName">Full Name:</label>
    <input type="text" name="fullName" id="fullName" placeholder="Full Name"><br>
    <label class ="mylable" for="numberChummery">Number chummery:</label>
    <input type="text" name="numberChummery" id="numberChummery" placeholder="Number chummery"><br>
    <label class ="mylable" for="chummeryAddress">Chummery address:</label>
    <input type="text" name="chummeryAddress" id="chummeryAddress" placeholder="Chummery address"><br>
    <label class ="mylable" for="faculty">Faculty:</label>
    <input type="text" name="faculty" id="faculty" placeholder="Faculty"><br>
    <label class ="mylable" for="group">Group:</label>
    <input type="text" name="group" id="group" placeholder="Group"><br>
    <label class ="mylable" for="year">Year:</label>
    <input type="text" name="year" id="year" placeholder="Year"><br>
    <label class ="mylable" for="roomNumber">Room number:</label>
    <input type="text" name="roomNumber" id="roomNumber" placeholder="Room number"><br>
    <label class ="mylable" for="termOfResidence">Term of residence:</label>
    <input type="text" name="termOfResidence" id="termOfResidence" placeholder="Term of residence"><br>
    <label class ="mylable" for="preferentialCategory"> Preferential category:</label>
    <input type="text" name="preferentialCategory" id="preferentialCategory" placeholder="Preferential category"><br>
    <label class ="mylable" for="budgetContract"> budget/contract:</label>
    <input type="text" name="budgetContract" id="budgetContract" placeholder="budget/contract"><br>
    <input type="submit" class="btn btn-outline-dark" value="Add Student" >
</form>
    </ul>
</div>
<script th:src ="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
</body>
</html>